body {
  margin-top: 60px;

  font-family: "BlinkMacSystemFont", "Segoe UI", Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.1;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3);
  grid-template-areas:
    "header"
    "content"
    "footer";
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.titlebox {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.titlebox--title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.titlebox--title h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: -10px;
}

.titlebox--title h2 {
  font-weight: 500;
}

.titlebox--image {
  padding: 10px;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlebox--imagecontent img {
  display: block;
  max-width: 100%;
  height: auto;
}

.titlebox--imagecaption {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.tribute-info {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.tribute-info--listblock {
  width: 50%;
}

.tribute-info--listblock li {
  padding: 5px 0 10px 0;
  color: rgba(51, 51, 51, 0.8);
}

.tribute-info--quote {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: center;
}

.tribute-info--quote--name {
  text-align: right;
}

.tribute-footer {
  grid-area: footer;
}

.tribute-footer--text {
  text-align: center;
}

.tribute-footer--text a {
  text-decoration: underline;
  color: #74638f;
}
